.InputAllUser__input {
	border: 1px solid #D0D5DD;
	background: #FFFFFF;
	padding: 12px 16px;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	font-size: 16px;
	line-height: 24px;
	text-shadow: none;
}

.InputAllUser__input.validation {
	border: 2px solid #EB5757;
}


.InputAllUser__input::placeholder {
	color: #667085;
}

.InputAllUser__wrapperInput {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	height: 75px;
}


.InputAllUser__strong {
	color: #ED5B5B;
	font-weight: 300;
	font-size: 12px;
}

.InputAllUser__text {
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
	font-size: 18px;
	line-height: 20px;
}



@media (max-width: 768px) {
	.InputAllUser__text {
		font-size: 15px;
	}
}

@media (max-width: 938px) {
	.InputAllUser__wrapperInput {
		margin-bottom: 6px;
	}
}